<IfModule mod_rewrite.c>
    # 1. Configuración básica y seguridad
    Options -MultiViews
    Options -Indexes
    RewriteEngine On

    # 2. Bloquear acceso al propio archivo .htaccess
    <Files .htaccess>
        Order Allow,Deny
        Deny from all
    </Files>

    # 3. EXCEPCIONES CRÍTICAS (La magia para que se vean las fotos)
    # Si la petición coincide con una carpeta real (!-d) o un archivo real (!-f),
    # Apache servirá ese archivo directamente y NO ejecutará la línea de abajo.
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # 4. ENRUTAMIENTO (MVC)
    # Todo lo que NO sea un archivo real, mándalo a index.php
    RewriteRule ^ index.php [L]
</IfModule>